<app-user-form (createUserEvent)="updateList($event)"></app-user-form>
<div *ngIf="selectedUser">
  <app-user-detail [user]="selectedUser" (deleteEvent)="deleteUser(selectedUser)"></app-user-detail>
</div>

<div class="space">
  <button class="btn btn-warning" (click)="showData()">Get data</button>
</div>

<div class="col-md-9">
  <table class="table space">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index" (click)="selectUser(user)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
    </tr>
    </tbody>
  </table>
</div>
