<form>
  <div class="row">
    <div class="col">
      <input type="text" name="name" [(ngModel)]="userName" class="form-control" placeholder="Name">
    </div>
    <div class="col">
      <input type="text" name="email" [(ngModel)]="userEmail" class="form-control" placeholder="Email">
    </div>
    <div class="col">
      <button type="button" class="btn btn-success" (click)="createUser()">Add</button>
    </div>
  </div>
</form>
